
<h3 class="text-3xl text-white mx-auto mt-2">Bislerium</h3>
<h3 class="text-xl text-white mx-auto">Cafe</h3>
<h5 class="text-white mt-4 mx-auto capitalize">Welcome <strong>@Username</strong>!</h5>

<NavLink class="text-white mt-4 border-b-2 border-white hover:bg-white hover:text-black p-2" href="coffee-order">
    Coffee Order
</NavLink>

@if (UserRole == UserRole.Admin)
{
    <NavLink class="text-white mt-4 border-b-2 border-white hover:bg-white hover:text-black p-2" href="add-staff">
        Add Staff
    </NavLink>
    <NavLink class="border-b-2 border-white hover:bg-white hover:text-black p-2 text-white mt-4" href="coffee-reports">
        Coffee Reports
    </NavLink>
}

<NavLink class="border-b-2 border-white hover:bg-white hover:text-black p-2 text-white mt-4" href="change-password">
    Change Password
</NavLink>

<button class="mt-auto py-2 text-xl font-semibold border-2 border-white bg-transparent text-white w-full" @onclick="LogoutHandler">Logout</button>

@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public UserRole UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

}


