@page "/change-password"
@using BisleriumCafe.Data.Provider

<div class="flex items-center justify-center">
    <div class="mx-auto w-[420px] h-[375px] border border-t-0 border-gray-400 ">
        <h1 class="text-3xl font-bold bg-black text-center text-white py-4">Change Password</h1>
        @if (_globalState.CurrentUser != null && _globalState.CurrentUser.HasInitialPassword)
        {
            <p class="mt-2 text-xs text-center text-green-600">You are using the initial password. Please change it.</p>
        }
        <form class="flex flex-col h-full py-2 items-center justify-around" @onsubmit="ChangePasswordHandler">
            <input class="mt-4 w-[350px] border-b border-gray-300 text-center placeholder:text-lg placeholder:text-center" type="password" @bind="_currentPassword" required placeholder="Current Password" />
            <input class="mt-4 w-[350px] border-b border-gray-300 text-center placeholder:text-lg placeholder:text-center" type="password" @bind="_newPassword" required placeholder="New Password" />
            <button class="mt-4 text-white bg-black py-4 w-[90%] rounded-lg font-semibold  hover:border hover:border-black hover:text-black hover:bg-transparent" type="submit">Submit</button>
            <span class="text-center text-xs mt-2 text-red-600">@_errorMessage</span>
            <span class="text-center text-xs mt-2 text-green-600">@_successMessage</span>
        </form>
    </div>
</div>
@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private string _currentPassword { get; set; }
    private string _newPassword { get; set; }
    private string _errorMessage = "";
    public string _successMessage = "";
    protected override void OnInitialized()
    {
        _errorMessage = "";
        _successMessage = "";
    }

    private void ChangePasswordHandler()
    {
        try
        {
            _errorMessage = "";
            _successMessage = "";
            _globalState.CurrentUser = UsersService.ChangePassword(_globalState.CurrentUser.Id, _currentPassword, _newPassword);
            _currentPassword = "";
            _newPassword = "";
            _successMessage = "The password has been changed successfully.";
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            Console.WriteLine(e);
        }
    }
}


